<!doctype html>
<html lang="en" ng-app="example">
<head>
<title>Shopping List</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Shopping List" />
<meta name="author" content="dollee.org">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

<link rel="stylesheet" href="css/common.css">

<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>

<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>


<script src="js/models.js"></script>
<script src="js/app.js"></script>




<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js></script>
    <![endif]-->
</head>
<body ng-controller="Ctrl">
	<div class="container" id="playground">
		<p>
			<span class="glyphicon glyphicon-refresh" ng-click="refresh()"></span>
		</p>

		<ul class="list-group" ng-hide="modeEdit">
			<li class="list-group-item clearfix active"><span
				class="col-xs-10 col-xs-offset-1">{{ name }}</span><span
				class="pull-right glyphicon glyphicon-edit "
				ng-click="modeEdit=true"></span></li>

			<li ng-repeat="i in shopList" class="list-group-item clearfix"
				ng-class="i.checked?'list-group-item-success':'list-group-item-warning'"
				ng-click="i.checked=!i.checked"><span class="col-xs-1"><span
					class="pull-left glyphicon glyphicon-ok" ng-show="i.checked"></span></span>
				<span class="col-xs-10">{{ i.itemName }}</span></li>
		</ul>

		<ul class="list-group" ng-show="modeEdit">
			<li class="list-group-item clearfix active"><span
				class="col-xs-10 col-xs-offset-1">Edit - {{ name }}</span></li>
			<li ng-repeat="i in shopList" class="list-group-item clearfix">
				<span class="col-xs-10 col-xs-offset-1">{{ i.itemName }}</span> <span
				class="glyphicon glyphicon-remove pull-right"
				ng-click="shopList.splice($index, 1)"></span>
			</li>
		</ul>
		<div class="form-group" ng-show="modeEdit">
   			<select class="form-control" ng-model="selectedItem" ng-options="i.itemName for i in items| notInList:shopList" ng-change="addToList()"></select>
		</div>
		<div class="input-group" ng-show="modeEdit">
			
			
			 <input type="text" class="form-control" ng-model="newItem"
				ng-keypress="($event.which === 13)?AddItem():0"> <span
				class="input-group-btn">
				<button class="btn btn-default" ng-class="newItem==''?'disabled':''"
					ng-click="AddItem()" type="button">Add</button>
			</span>
		</div>
		<!-- /input-group -->
		<p>
		<div class="btn-toolbar pull-right" ng-show="modeEdit">
			<button class="btn btn-default" ng-click="modeEdit=false">Cancel</button>
			<button class="btn btn-primary" ng-click="modeEdit=false">Save</button>
		</div>
		<div class="btn-toolbar pull-right" ng-hide="modeEdit">
			<button class="btn btn-primary" ng-click="saveList()">Done</button>
		</div>
		</p>
	</div>

</body>
</html>
